@import "./../../../assets/styles/light-theme.scss";
@import "./../../../assets/styles/colors.scss";
.skill-card {
    position: relative;
    overflow: hidden;
    &:hover {
        transform: scale(1.007);
        transition: .1s ease-in-out;
    }
    .title {
        color: $tertiary-text;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 400;
        &.title-dark {
            color: $light-2;
        }
    }
    .image-wrap {
        height: 75px;
        width: 30%;
        &::before {
            background: linear-gradient(90deg,$main 0%,$main 5%,$main-60 100%),no-repeat right 40%/40%;
           
        }
        &.img-dark {
            &::before {
                   background: linear-gradient(90deg,$dark-0 0%,$dark-0 10%,$dark-0-60 100%),no-repeat right 40%/40%;
            }
        }
    }
}