@import "./../../assets/styles/light-theme.scss";

.empty-skills-wrap {
  padding: 150px 20px 20px;
  position: relative;
  .empty-skills {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .icon {
      width: 56px;
      height: 56px;
      margin-bottom: 5px;
    }
    .text {
      letter-spacing: 1px;
      font-weight: 300;
      margin-top: 5px;
      color: #3e3e3e;
      white-space: nowrap;
      &.dark-text {
        color: $light-3;
      }
    }
  }
}
