@import './../../assets/styles/light-theme.scss';

.header {
  border-bottom: 1px solid $border;
 
}
.header-dark {
  border-bottom: 1px solid $dark-1;
  }

.main-layout-dark-bg {
  color: #E1E1E1;
}

.page-indent {
  padding: 48px 22px;
  position: relative;
}