@import "./../../assets/styles/light-theme.scss";

.box-layout {
    border-radius: 15px;
    padding: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: $border;
    &:hover {
        border-color: $border-hover;
    }
    &.box-layout-dark {
        border-color: $dark-2;
    }
}