*, *::before, *::after {
  box-sizing: border-box;
  transition-duration: .2s;
  transition: background,border-color,opacity,box-shadow,top,bottom,left,margin,right;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
