$dark-0: #000;
$dark-1: #1e1e1e;
$dark-2: #2e2e2e;
$dark-3: #3e3e3e;
$dark-4: #4e4e4e;
$dark-5: #5e5e5e;
$dark-6: #6e6e6e;
$dark-7: #7e7e7e;
$dark-8: #8e8e8e;
$light-0: #fff;
$light-1: #e1e1e1;
$light-2: #d1d1d1;
$light-3: #c1c1c1;
$light-4: #b1b1b1;
$light-5: #a1a1a1;
$light-6: #919191;
$light-7: #818181;
$light-8: #717171;
$code-keyword-light: #bd2864;
$code-keyword-dark: #bd2864;
$code-string-light: #297a3a;
$code-string-dark: #62c073;
$code-function-light: #0068d6;
$code-function-dark: #52a8ff;
$code-constant-dark: #f8c555;
$code-constant-light: #f08d49;
$code-operator-dark: #67cdcc;
$code-operator-light: #016464;
$link-dark: #2563eb;
$link-light: #3b82f6;
$dark-0-60: rgba(0, 0, 0, .6);
$light-0-60: rgba(255, 255, 255, .6);