@import './colors.scss';

$main: $dark-0;
$main-hover: $dark-1;
$secondary: $dark-1;
$secondary-hover: $dark-2;
$tertiary: $dark-2;
$tertiary-hover: $dark-3;
$accent: $dark-3;
$accent-hover: $dark-4;
$main-text: $light-0;
$main-text-hover: $light-1;
$secondary-text: $light-1;
$secondary-text-hover: $light-2;
$tertiary-text: $light-2;
$tertiary-text-hover: $light-3;
$accent-text: $light-3;
$accent-text-hover: $light-4;
$border: $dark-2;
$border-hover: $light-7;
$main-60: $dark-0-60;
$code-keyword: $code-keyword-dark;
$code-string: $code-string-dark;
$code-function: $code-function-dark;
$code-constant: $code-constant-dark;
$code-operator: $code-operator-dark;
$link: $link-light;